$white-color: #ffffff;
$black-color: #000000;
$bg-header-color: #52557f;
$bg-portfolio-color: #f3f3f3;
$bg-partners-color: #52557f;
$bg-footer-color: #3c3c3c;
$text-color: #868585;
$heading-color: #000000;
$active-color: #ada074;
$list-color: #3c3c3c;
$social-color: #a4a4a4;
$footer-text-color: #6c6c6c;
// $placeholder-color: #959595;
// $hover-color: rgba(#64c29e, 0.8);
// $link-color: #4d4959;

$fontfamily: "Lato", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 1130;
$md1: $mw + 15;
$md2: 1029.98;
$md3: 767.98;
$md4: 479.98;
$md5: 589.98;
