.contact {
  padding-top: 180px;
  padding-bottom: 100px;

  @media (max-width: $md3+px) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 120px;

    @media (max-width: $md3+px) {
      margin-bottom: 40px;
    }
  }

  &__row {
    display: flex;
    margin-left: -40px;
    margin-right: -40px;

    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $md4+px) {
      margin: 0;
    }
  }

  &__col {
    flex: 0 1 50%;
    padding-left: 40px;
    padding-right: 40px;

    &:first-child {
      display: flex;
      justify-content: flex-end;

      @media (max-width: $md3+px) {
        flex: 0 1 100%;
      }
    }

    &:last-child {
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: $black-color;

      @media (max-width: $md3+px) {
        flex: 0 1 100%;
      }

      @media (max-width: $md4+px) {
        padding: 0;
      }

      & b {
        display: inline-block;
        font-weight: 700;
        margin-bottom: 25px;
      }
    }
  }

  &__text {
    max-width: 260px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $black-color;

    @media (max-width: $md3+px) {
      max-width: 100%;

      & br {
        display: none;
      }
    }
  }

  &__social-list {
    @include list-reset;
    display: flex;
    margin-bottom: 20px;

    & li {
      margin-left: 7px;
      margin-right: 7px;

      &:first-child {
        margin-left: 0;

        & a {
          background-image: url("../../img/icon-facebook.png");
        }
      }

      &:last-child {
        margin-right: 0;

        & a {
          background-image: url("../../img/icon-instagramm.png");
        }
      }
    }
  }

  &__social-link {
    display: block;
    width: 28px;
    height: 28px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &__link {
    font-weight: 700;
    text-decoration: none;
    color: $black-color;
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      color: rgba($active-color, 0.9);
      transition: all 0.3s ease 0s;
      outline: none;
    }

    &:active {
      color: rgba($active-color, 0.6);
      transition: all 0.1s ease 0s;
    }
  }
}

.form {
  display: inline-block;
  width: 100%;
  max-width: 385px;
  padding: 0;

  @media (max-width: $md3+px) {
    margin-bottom: 40px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
  }

  &__wrap {
    &:nth-child(1) {
      flex: 0 1 50%;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 75px;

      @media (max-width: $md4+px) {
        flex: 0 1 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &:nth-child(2) {
      flex: 0 1 50%;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 75px;

      @media (max-width: $md4+px) {
        flex: 0 1 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &:nth-child(3) {
      flex: 0 1 100%;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 40px;

      @media (max-width: $md4+px) {
        flex: 0 1 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    color: $black-color;
  }

  &__input {
    width: 100%;
    border: 1px solid transparent;
    border-top: 1px solid $black-color;
    background-color: #f8f7f7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: $black-color;

    &:focus {
      border: 1px solid $active-color;
    }
  }

  &__teatarea {
    width: 100%;
    min-height: 118px;
    border: 1px solid transparent;
    border-top: 1px solid $black-color;
    background-color: #f8f7f7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: $black-color;

    &:focus {
      border: 1px solid $active-color;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: 30px;

    @media (max-width: $md3+px) {
      margin: 0 auto;
    }
  }
}
